* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}
.itemImg{
  width: 150px;
  height: 150px;
}

.title{
  text-align: center;
  font-size: 4rem;
  margin-top: .5em;
  margin-bottom: .75em;
  color: lightslategray;
}

.inventoryButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  margin-bottom: 2em;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menuButton {
  height: 5em;
  padding: 2em;
  font-size: large;
  font-weight: bold;
  color: lightslategray;
  border: 2px solid lightslategray;
  border-radius: 6px;
}

.menuAddButton {
  height: 5em;
  padding: 2em;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: lightslategray;
  border: 2px solid lightslategray;
  border-radius: 6px;
}

.submitButton {
  height: .5em;
  padding: 1em;
  font-size: large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: lightslategray;
  border: 2px solid lightslategray;
  border-radius: 6px;
}

.deleteEditButton {
  height: .5em;
  padding: 1em;
  font-size: large;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  color: white;
  background-color: lightslategray;
  border: 2px solid lightslategray;
  border-radius: 6px;
}

.buttonChange{
  height: 5em;
  padding: 2em;
  font-size: large;
  color: white;
  background-color: lightslategray;
  border: 2px solid lightslategray;
  border-radius: 6px;
}

.itemButton {
  border: none;
  border-radius: 6px;
  width: 50%;
  height: 40vh;
}