* {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(223, 223, 223);
}
.itemImg{
  width: 150px;
  height: 150px;
}

.title{
  text-align: center;
  margin-bottom: 1em;
}

.inventoryButtons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}